.home {
  margin-left: 0.5rem;

  position: fixed;
  overflow: auto;
  width: 260px;
  height: 100vh;

  padding: 20px;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-right: 1px solid var(--text-primary);
}

.home img {
  width: 15rem;
}

.home__title {
  margin-top: 1.5rem;
  font-weight: 100;
  font-size: 2.5rem;

  text-align: center;
}

.home span {
  color: --cor-primary;
  margin-top: 1rem;

  font-size: 1.5rem;

  font-weight: 300;
}

.home p {
  font-size: 1.3rem;
  font-weight: 100;
}

.home h1 {
  color: transparent;

  background-image: linear-gradient(50deg, #7a00ff, #00ffd5);
  background-clip: text;
}

@media screen and (max-width: 768px) {
  .home {
    border-right: none;
    text-align: center;

    margin-left: 0;

    display: flex;
    position: relative;

    flex-wrap: wrap;

    width: auto;
    height: 100vh;

    padding: 10px;
  }

  .home img {
    width: 13rem;
  }
}
